version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_KEY: ${API_KEY}
        REACT_APP_SUPABASE_URL: ${REACT_APP_SUPABASE_URL}
        REACT_APP_SUPABASE_ANON_KEY: ${REACT_APP_SUPABASE_ANON_KEY}
    ports:
      - "8080:80"
    environment:
      - API_KEY=${API_KEY}
      - REACT_APP_SUPABASE_URL=${REACT_APP_SUPABASE_URL}
      - REACT_APP_SUPABASE_ANON_KEY=${REACT_APP_SUPABASE_ANON_KEY}
    restart: unless-stopped
